<%- include('../layout/header.ejs') %>

<h1 class="admin-head">Welcome to Admin Page</h1>
 

<br>
<div class=" w-100 px-5">
    <label for="searchInput" class="form-label">Search by Name:</label>
    <input type="search" id="searchInput" class="w-100" placeholder="Enter name"><br>
    <table  class="table ">
        <thead class="table-dark">
            <th>User Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
        </thead>
    
        <% 
            if(users.length > 0){
                for(let i=0;i<users.length;i++){
                    %>
                    <tbody>
                        <td><%= i+1 %></td>
                        <td><%= users[i].name %> </td>
                        <td><%= users[i].email %> </td>
                        <td><%= users[i].mobile %> </td>
                        <td>
                            <button class="edit-btn"> <a class="edit-text" href="/admin/edit-user?id=<%= users[i]._id %>">Edit </a></button>
                            <button class="delete-btn"> <a class="delete-text" href="/admin/delete-usre?id=<%= users[i]._id %>">Delete</a></button>
                        </td>
                    </tbody>
                    <%
                }
                
            }else{
                %>
                <tbody>
                    <td colspan="S">Users Not Found</td>
                </tbody>
                <%
            }
        %>
    
    
    </table>

</div>
<div class="admin-new-logout w-100 px-5 mb-5">
<button> <a href="/admin/new-user">Add New User</a> </button> 
<button>  <a href="/admin/logout">Logout</a> </button>
</div>


<script>
      const searchInput = document.getElementById('searchInput');
  const tableRows = document.querySelectorAll('tbody tr');

  searchInput.addEventListener('input', function () {
    const searchTerm = searchInput.value.toLowerCase();

    tableRows.forEach(row => {
      const userName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
      row.style.display = userName.includes(searchTerm) ? '' : 'none';
    });
  });
</script>
<script>
  window.addEventListener('pageshow', function (event) {
    // Check if the page is shown from the session history
    if (event.persisted) {
      // Reload the page to prevent cached content
      window.location.reload();
    }
  });
  
</script>


<%- include('../layout/footer.ejs') %>