<%- include('../layout/header.ejs') %>

<h1 class="admin-head">Welcome to Admin Page</h1>
 

<br>
<div class=" w-100 px-5">
    <input type="search" class="w-100" placeholder="Enter name"><br>
    <table  class="table ">
        <thead class="table-dark">
            <th>User Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
        </thead>
    
        <% 
            if(users.length > 0){
                for(let i=0;i<users.length;i++){
                    %>
                    <tbody>
                        <td><%= i+1 %></td>
                        <td><%= users[i].name %> </td>
                        <td><%= users[i].email %> </td>
                        <td><%= users[i].mobile %> </td>
                        <!-- <td><%
                            if(users[i].is_verified == 0){
                                %>
                                 <p>Not Verified</p>   
                                <%
                            }else{
                                %>
                                <p>Verified</p>
                                <% 
                            }
                            %> </td> -->
                            <td><button class="edit-btn"> <a class="edit-text" href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a></button> </td>
                    </tbody>
                    <%
                }
                
            }else{
                %>
                <tbody>
                    <td colspan="S">Users Not Found</td>
                </tbody>
                <%
            }
        %>
    
    
    </table>

</div>
<div class="admin-new-logout w-100 px-5 mb-5">
<button> <a href="/admin/new-user">Add New User</a> </button> 
<button>  <a href="/admin/logout">Logout</a> </button>
</div>




<%- include('../layout/footer.ejs') %>